<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

<% if @status == "notcomplete" %>
   <font color="red">You must enter both a username and password.</font>
<% elsif @status == "notvalid" %>
   <font color="red">Your Identity credentials could not be validated. Try again.</font>
<% elsif @status == "firstlogin" %>
   Please log in with your KDE Identity credentials to proceed.
<% end %>
<br /><br />
<form action="/login?votename=<%=h(@votename)%>" method="post">
      Username: <input type="text" name="username" value="<%=h(@username)%>" autofocus/><br />
      Password: <input type="password" name="password"/><br />
   <input type="submit" value="Log in" />
</form>
