<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

Vote ID: <%=@votedata["id"]%><br />
Vote Name: <%=@votedata["description"]%><br />
<% if @votedata.has_key?("expiration") %>
   Vote Expiration: <%=Time.at(@votedata["expiration"]).utc%><br />
<% end %>
<br />
<% if @status == "returnvoter" %>
   Welcome back. <font color="green">You can change your vote</font>, but only if you provide the <b>exact</b> unique key you provided when you originally cast your vote.
<% elsif @status == "voted" and @scramblevalues == nil %>
   <font color="blue">You selected <%=@votedata["choices"][@votevalue]%>.</font><br /><br /><font color="green">You can change your vote.</font> Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!
<% elsif @status == "voted" %>
   <font color="blue">This vote has scrambling enabled for extra security; your vote has been recorded but cannot be displayed back to you.</font><br /><br /><font color="green">You can change your vote.</font> Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!<br /><br />Your ticket is: <font color="red"><%=@uservotesha%></font>. You can use this to verify your choice in the results. You can also peform manual verification by creating a SHA256 sum (using "echo -n [string] | sha256sum") of a concatenation (in order) of your username, your secret key, and this vote's salt, which is (without the quotes): "<font color="red"><%=@votedata["votehashsalt"]%></font>"
<% elsif @status == "failedchange" %>
   <font color="red">Could not change your vote; the unique key was not correct.</font>
<% elsif @status == "newvoter" %>
   Make your selection below.<br /><br/><font color="red">IMPORTANT:</font> You must type a unique key. Once you press the "Vote!" button you will not be able to change your vote unless you provide that <b>exact</b> key!
<% elsif @status == "smssent" %>
   <font color="green">An SMS has been sent to your mobile phone. The decodes there are valid for this one page view only!</font><br /><br />This vote has scrambling enabled for extra security.<br /><br />Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!
<% elsif @status == "invitemailsent" %>
   <font color="green">Invite emails sent.</font>
<% elsif @status == "remindermailsent" %>
   <font color="green">Reminder mails sent.</font>
<% elsif @status == "resultsmailsent" %>
   <font color="green">Results mails sent.</font>
<% end %>
<br /><br />
Instructions: <%=@votedata["instructions"]%>
<br /><br />
<% if @scramblevalues and @show_sms == nil and @show_gpg == nil %>
   <font color="red">This vote is scrambled, but you have neither your SMS number nor your public ASCII-armored GPG key entered in Identity. Therefore the values cannot be displayed to you.</font><br />
<% else %>
   <% if @scramblevalues and @show_sms %>
      <form action="/vote/<%=@votename%>" method="post">
         <input type="submit" name="send_sms" value="Send SMS with descrambled voting options" />
      </form>
   <% end %>
   <% if @administrator %>
      <form action="/vote/<%=@votename%>" method="post">
         <font color="green">You are an administrator of this vote, and you can send invite and reminder emails by clicking the buttons below:</font>
         <br />
         <input type="submit" name="sendinvitemail" method="post" value="Send Invite Email">
         <br />
         <input type="submit" name="sendremindermail" method="post" value="Send Reminder Email">
         <br />
         <% if @votecomplete %>
            <input type="submit" name="sendresultsmail" method="post" value="Send Results Email">
            <br />
         <% end %>
      </form>
      <br />
   <% end %>
   Your selection<%= " (entries in randomized order)" if @scramblevalues%>:<br />
   <form action="/vote/<%=@votename%>" method="post">
      <% @votedata["choices"].each_key do |choice| %>
         <% if @scramblevalues %>
            <label><input type="radio" name="selection" value="<%=@scramblevalues[choice]%>"/> <%= @scramblevalues[choice]%></label><br />
         <% else %>
            <label><input type="radio" name="selection" value="<%=choice%>" <%= "checked" if @votevalue == choice %>/> <%= @votedata["choices"][choice]%></label><br />
         <% end %>
      <% end %>
      <br />
      <% if not @status == "newvoter" %>
         Your unique key: <input type="text" name="userkey" value="<%=@userkey%>"/><br /><br />
      <% else %>
         Your unique key (enter some text, punctuation and spaces are okay, <font color="red">only valid for this vote, cannot be changed!</font>): <input type="text" name="userkey" value="<%=@userkey%>"/><br /><br />
      <% end %>
      <input type="submit" name="votesubmit" value="Vote!" />
   </form>
<% end %>
<br />
<a href="/votes">Open votes</a>
<br /><br />
<a href="/logout">Log out</a>
